.topnav-root {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px 0 24px 0;
  background: transparent;
  z-index: 100;
}

.topnav-btn {
  background: #26262660;
  color: #d8d8d8;
  border: none;
  border-radius: 999px;
  padding: 12px 60px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  outline: none;
}

.topnav-btn-active,
.topnav-btn:focus-visible {
  background: #3C414E;
  color: #fff;
}

.topnav-btn:hover {
  background: #353535;
  color: #fff;
} 